<div class="flex" ng-controller="DashboardController">
  <!-- Sidebar -->
  <aside
    class="z-1 fixed top-0 left-0 h-full w-20 flex flex-col bg-white text-gray-800 p-6 transition-all duration-500 ease-in-out hover:w-72 group">
    <!-- Logo and App Name -->
    <div class="flex items-center">
      <img src="../images/logo.png" alt="logo" class="w-8 rounded-full" />
      <h2
        class="ml-4 mt-0 text-xl font-semibold text-gray-900 whitespace-nowrap hidden group-hover:block transition-opacity duration-300">
        DuitDec
      </h2>
    </div>

    <!-- Main Menu -->
    <ul class="mt-6 flex-grow overflow-y-auto overflow-hidden " style="-ms-overflow-style: none; scrollbar-width: none;">
      <h4 class="text-gray-700 font-medium relative mb-2">
        <div class="w-full h-px bg-[#f9a600] absolute left-0 top-1/2 transition-transform duration-300 ease-in-out">
        </div>
      </h4>

      <!-- Menu Items -->
      <li ng-repeat="menu in menus" class="mt-4">
        <a ng-href="{{ menu.link }}"
          class="flex items-center gap-4 py-3 px-2 text-gray-800 transition-colors duration-300 ease-in-out hover:bg-[#f9a600] hover:text-white rounded-md">
          <span class="material-symbols-outlined">{{ menu.icon }}</span>
          <span
            class="hidden group-hover:block transition-opacity duration-300 ease-in-out menu-name whitespace-nowrap">
            {{ menu.name }}
          </span>
        </a>
      </li>


      <!-- Account Section Header -->
      <h4 class="text-gray-700 font-medium relative mt-4 mb-2">
        <div class="w-full h-px bg-[#f9a600] absolute left-0 top-1/2 transition-transform duration-300 ease-in-out">
        </div>
      </h4>

      <!-- Account Menu Items -->
      <li ng-repeat="accountMenu in accountMenus" class="mt-8">
        <a ng-href="{{ accountMenu.link }}"
          class="flex items-center gap-4 py-3 px-2 text-gray-800 transition-colors duration-300 ease-in-out hover:bg-[#f9a600] hover:text-white rounded-md">
          <span class="material-symbols-outlined">{{ accountMenu.icon }}</span>
          <span class="hidden group-hover:block transition-opacity duration-300 ease-in-out">
            {{ accountMenu.name }}
          </span>
        </a>
      </li>

      <button ng-click="logout()"
        class="mt-1 py-3 px-2 text-gray-800 transition-colors duration-300 ease-in-out hover:bg-[#f9a600] hover:text-white rounded-md w-full text-left flex items-center">
        <span class="material-symbols-outlined">logout</span>
        <span class="hidden ml-4 group-hover:block transition-opacity duration-300 ease-in-out">
          Logout
        </span>
      </button>

    </ul>
    <!-- Profile Section -->
    <div class="mt-4 transition-all duration-300 ease-in-out hover:bg-white hover:rounded-md ">
      <div class="flex items-center">
        <img src="../images/profile-img.png" alt="Profile Image" class="w-12 rounded-full border-2 border-white" />
        <div class="ml-6 hidden group-hover:block transition-opacity duration-300 ease-in-out ">
          <h3 class="text-base font-semibold text-gray-800">{{ profile.name }}</h3>
          <span class="text-sm font-medium text-gray-600">{{ profile.email }}</span>
        </div>
      </div>
    </div>

  </aside>

  <!-- Main Area: Konten Utama -->
  <div class="flex-1 ml-20 bg-gray-100 min-h-screen">
    <!-- Header Dashboard -->
    <div class="bg-[#f9a600] w-full z-10 shadow-md">
      <div class="flex justify-between items-center p-4">
        <h1 class="text-xl font-bold text-white">
          {{ pageTitle }}
        </h1>
        <div class="flex items-center space-x-4">
        </div>
      </div>
    </div>
    <div ui-view="content" class="py-8 px-12"></div>
  </div>
</div>