  <style>
  #chart-this-month,
  #chart-last-month {
    width: 140px !important;
    height: 140px !important;
  }
</style>

<!-- row 1: summary, this & last month-->
<div class="mt-8 space-y-8">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
    <div class="p-6 bg-white rounded-2xl shadow-lg">
      <h3 class="text-xl font-semibold text-gray-800 mb-4">Summary</h3>
      <div>
        <!-- List of Accounts -->
        <div ng-repeat="account in accounts" class="mb-2">
          <div class="flex justify-between items-center">
            <p class="text-gray-600 font-medium">{{ account.name }}</p>
            <p class="text-gray-800">{{ account.balance | currency }}</p>
          </div>
        </div>
      </div>
      <hr class="my-4">
      <!-- Total Balance -->
      <div class="flex justify-between font-bold text-green-500">
        <p>Total:</p>
        <p>{{ summary.total | currency }}</p>
      </div>
    </div>

    <!-- This Month Card -->
    <div class="p-6 bg-white rounded-2xl shadow-lg">
      <h3 class="text-xl font-semibold text-gray-800 mb-4">This Month</h3>
      <div class="flex justify-center">
        <canvas id="chart-this-month" class="w-16 h-16"></canvas>
      </div>
      <div class="mt-4 space-y-2">
        <div class="flex justify-between">
          <p>Income:</p>
          <p class="text-green-500 font-bold">{{ thisMonth.income | currency }}</p>
        </div>
        <div class="flex justify-between">
          <p>Outcome:</p>
          <p class="text-red-500 font-bold">{{ thisMonth.outcome | currency }}</p>
        </div>
        <hr class="my-4">
        <div class="text-right font-bold text-green-500">
          {{ thisMonth.total | currency }}
        </div>
      </div>
    </div>

    <!-- Last Month Card -->
    <div class="p-6 bg-white rounded-2xl shadow-lg">
      <h3 class="text-xl font-semibold text-gray-800 mb-4">Last Month</h3>
      <div class="flex justify-center">
        <canvas id="chart-last-month" class="w-16 h-16"></canvas>
      </div>
      <div class="mt-4 space-y-2">
        <div class="flex justify-between">
          <p>Income:</p>
          <p class="text-green-500 font-bold">{{ lastMonth.income | currency }}</p>
        </div>
        <div class="flex justify-between">
          <p>Outcome:</p>
          <p class="text-red-500 font-bold">{{ lastMonth.outcome | currency }}</p>
        </div>
        <hr class="my-4">
        <div class="text-right font-bold text-green-500">
          {{ lastMonth.total | currency }}
        </div>
      </div>
    </div>
  </div>

  <!-- Row 2: Accounts -->
  <div class="p-6 bg-white rounded-2xl shadow-lg">
    <h3 class="text-xl font-semibold text-gray-800 mb-4">Accounts</h3>
    <div class="space-y-4">
      <div class="flex justify-between" ng-repeat="account in accounts">
        <p>{{ account.name }}</p>
        <p class="text-green-500 font-bold">{{ account.balance | currency }} {{ account.currency }}</p>
      </div>
    </div>
  </div>

  <div class="bg-white rounded-lg p-5 shadow-md mb-5" ng-if="allBudgets.length > 0">
    <h2 class="text-lg font-semibold text-gray-800 mb-4">Budgets</h2>
    <div class="flex items-center mb-4" ng-repeat="budget in allBudgets">
      <span class="material-symbols-outlined text-5xl text-orange-500 mr-4">{{ budget.icon }}</span>
      <div class="flex-grow">
        <div class="font-semibold mb-1">{{ budget.category }}</div>
        <div class="bg-gray-300 rounded-full h-2 mb-2 overflow-hidden">
          <div class="h-full transition-width duration-300"
            ng-class="{'bg-green-500': budget.percent <= 100, 'bg-red-500': budget.percent > 100}"
            style="width: {{ budget.percent }}%;"></div>
        </div>
        <div class="flex justify-between items-center">
          <div class="text-sm text-gray-800">
            ${{ budget.used_amout }} / ${{ budget.budget_amout }} <span
              ng-class="{'text-green-500': budget.percent <= 100, 'text-red-500': budget.percent > 100}"
              class="font-semibold">({{ budget.percent }}%)</span>
          </div>
        </div>
        <div class="text-xs"
          ng-class="{'text-gray-500': budget.residual >= 0, 'text-red-500 font-semibold': budget.residual < 0}">
          Residual amount: ${{ budget.residual }}
        </div>
      </div>
    </div>
  </div>


</div>