<style>
  #chart-this-month, #chart-last-month {
    width: 140px !important;
    height: 140px !important;
  }
</style>

<!-- row 1: summary, this & last month-->
<div class="mt-8 space-y-8">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
    <div class="p-6 bg-white rounded-2xl shadow-lg">
      <h3 class="text-xl font-semibold text-gray-800 mb-4">Summary</h3>
      <div class="flex justify-between">
        <p>Balance:</p>
        <p class="text-green-500 font-bold">{{ summary.balance | currency }}</p>
      </div>
      <hr class="my-4">
      <div class="text-right font-bold text-green-500">
        {{ summary.total | currency }}
      </div>
    </div>

    <!-- This Month Card -->
    <div class="p-6 bg-white rounded-2xl shadow-lg">
      <h3 class="text-xl font-semibold text-gray-800 mb-4">This Month</h3>
      <div class="flex justify-center">
        <canvas id="chart-this-month" class="w-16 h-16"></canvas>
      </div>
      <div class="mt-4 space-y-2">
        <div class="flex justify-between">
          <p>Income:</p>
          <p class="text-green-500 font-bold">{{ thisMonth.income | currency }}</p>
        </div>
        <div class="flex justify-between">
          <p>Outcome:</p>
          <p class="text-red-500 font-bold">{{ thisMonth.outcome | currency }}</p>
        </div>
        <hr class="my-4">
        <div class="text-right font-bold text-green-500">
          {{ thisMonth.total | currency }}
        </div>
      </div>
    </div>

    <!-- Last Month Card -->
    <div class="p-6 bg-white rounded-2xl shadow-lg">
      <h3 class="text-xl font-semibold text-gray-800 mb-4">Last Month</h3>
      <div class="flex justify-center">
        <canvas id="chart-last-month" class="w-16 h-16"></canvas>
      </div>
      <div class="mt-4 space-y-2">
        <div class="flex justify-between">
          <p>Income:</p>
          <p class="text-green-500 font-bold">{{ lastMonth.income | currency }}</p>
        </div>
        <div class="flex justify-between">
          <p>Outcome:</p>
          <p class="text-red-500 font-bold">{{ lastMonth.outcome | currency }}</p>
        </div>
        <hr class="my-4">
        <div class="text-right font-bold text-green-500">
          {{ lastMonth.total | currency }}
        </div>
      </div>
    </div>
  </div>

  <!-- Row 2: Accounts -->
  <div class="p-6 bg-white rounded-2xl shadow-lg">
    <h3 class="text-xl font-semibold text-gray-800 mb-4">Accounts</h3>
    <div class="space-y-4">
      <div class="flex justify-between" ng-repeat="account in accounts">
        <p>{{ account.name }}</p>
        <p class="text-green-500 font-bold">{{ account.balance | currency }} {{ account.currency }}</p>
      </div>
    </div>
  </div>

  
</div>
